<h1>Periféricos</h1>

<% unless perifericos.blank? %>
	<table>
	  <tr>
	    <th>Nome</th>
	    <th>Pino</th>
	    <th></th>
			<th></th>
			<th></th>
	  </tr>

	<% perifericos.each do |periferico| %>
	  <tr>
			<td><%= periferico.nome %></td>
			<td><%= periferico.pino %></td>
			<td>
				<%= link_visualizar usuario_residencia_comodo_periferico_path(
								periferico.comodo.residencia.usuario,
								periferico.comodo.residencia,
								periferico.comodo,
								periferico) %>
			</td>
		  <td>
				<%= link_editar edit_usuario_residencia_comodo_periferico_path(
								periferico.comodo.residencia.usuario,
								periferico.comodo.residencia,
								periferico.comodo,
								periferico) %>
			</td>
		  <td>
				<%= link_excluir usuario_residencia_comodo_periferico_path(
								periferico.comodo.residencia.usuario,
								periferico.comodo.residencia,
								periferico.comodo,
								periferico) %>
			</td>
	  </tr>
	<% end %>
	</table>

<% else %>
	Não existem periféricos cadastrados.
<% end %>

<br /><br />
<%= link_to '', "" %>
<%= link_to 'New Periferico', new_usuario_residencia_comodo_periferico_url(
						@comodo.residencia.usuario,
						@comodo.residencia,
						@comodo) %>

