<tr>
  <td>
    <%= periferico.nome %>
  </td>
  <td>
    <%= periferico.pino %>
  </td>
	<td class="options-width">
		<%= link_visualizar usuario_residencia_comodo_periferico_path(
						periferico.comodo.residencia.usuario,
						periferico.comodo.residencia,
						periferico.comodo,
						periferico) %>
		<%= link_editar edit_usuario_residencia_comodo_periferico_path(
						periferico.comodo.residencia.usuario,
						periferico.comodo.residencia,
						periferico.comodo,
						periferico) %>
		<%= link_excluir usuario_residencia_comodo_periferico_path(
						periferico.comodo.residencia.usuario,
						periferico.comodo.residencia,
						periferico.comodo,
						periferico) %>
	</td>
</tr>

