<h1>Listing perifericos</h1>

<% unless @perifericos.blank? %>
	<table>
	  <tr>
	    <th>Nome</th>
	    <th>Pino</th>
	    <th></th>
			<th></th>
			<th></th>
	  </tr>

	<% @perifericos.each do |periferico| %>
	  <tr>
			<td><%= periferico.nome %></td>
			<td><%= periferico.pino %></td>
	    <td><%= link_to 'Show', periferico %></td>
	    <td><%= link_to 'Edit', edit_periferico_path(periferico) %></td>
	    <td><%= link_to 'Destroy', periferico, :confirm => 'Are you sure?', :method => :delete %></td>
	  </tr>
	<% end %>
	</table>

<% else %>
	Não existem periféricos cadastrados.
<% end %>

<br /><br />
<%= link_to 'New Periferico', new_periferico_path %>