<%= form_for [@residencia.usuario, @residencia], :remote => true do |f| %>
  <%= render :partial => 'layouts/errors', :locals => {:entity => @residencia} %>

  <table id='tabela_nova_residencia'>
    <tr>
      <td>
        <%= f.label :cidade %>
        <%= f.text_field :cidade %>
      </td>
      <td>
        <%= f.label :uf %>
        <%= f.text_field :uf, :maxlength => 2 %>
      </td>
      <td>
        <%= f.label :endereco %>
        <%= f.text_field :endereco %>
      </td>
      <td>
        <%= f.label :cep %>
        <%= f.text_field :cep, :class => :cep %>
      </td>

      <td>
        <%= f.submit %>
      </td>
		  <td>
		    <button class="cancelar_form" alt="cancelar"> Cancelar </button>
		  </td>
    </tr>
  </table>

<% end %>

