<tr>
  <td>
    <%= residencia.cidade %> 
  </td>
  <td> 
    <%= residencia.uf %> 
  </td>
  <td>
    <%= residencia.endereco %> 
  </td>
  <td> 
    <%= residencia.cep %> 
  </td>
  <td><%= link_to 'Show', usuario_residencia_path(residencia.usuario, residencia) %></td>
  <td><%= link_to 'Edit', edit_usuario_residencia_path(residencia.usuario, residencia) %></td>
  <td><%= link_to 'Destroy', usuario_residencia_path(residencia.usuario, residencia), :confirm => 'Você tem certeza?', :method => :delete %></td>
</tr>

