<tr>
  <td>
    <%= residencia.cidade %> 
  </td>
  <td> 
    <%= residencia.uf %> 
  </td>
  <td>
    <%= residencia.endereco %> 
  </td>
  <td> 
    <%= residencia.cep %> 
  </td>
  <td><%= link_visualizar usuario_residencia_path(residencia.usuario, residencia) %></td>
  <td><%= link_editar edit_usuario_residencia_path(residencia.usuario, residencia) %></td>
  <td><%= link_excluir usuario_residencia_path(residencia.usuario, residencia) %></td>
</tr>

