<span style="float: right;top: 15px;"><%= link_editar edit_usuario_residencia_path(@residencia.usuario, @residencia) %></span>

<h1> Residência </h1>
Cidade: <%= @residencia.cidade %> <br/>
UF: <%= @residencia.uf %> <br/>
Endereço: <%= @residencia.endereco %> <br/>
CEP: <%= @residencia.cep %> <br/>

<br/>
<%= link_to 'Nova Residência', new_usuario_residencia_url(@residencia.usuario) %>

<%= render :partial => '/comodos/index', :locals => { :comodos => @residencia.comodos } %>
<%= link_voltar usuario_path(@residencia.usuario) %>