<%= content_for :javascripts do %>
  <%= javascript_include_tag "views/comodo" %>
<% end %>

<div id="comodo">

  <table width='50%'>
	  <tr>
		  <td><h3><%= @residencia.usuario.nome %> > <%= @residencia.endereco %></h3></td>
	  </tr>

	  <tr>
			  <td><%= @residencia.cidade %> - <%= @residencia.uf %> / <%= @residencia.cep %> </td>
	  </tr>
  </table>

</div>

<%= render :partial => '/comodos/index', :locals => { :comodos => @residencia.comodos } %>

<%= link_voltar usuarios_path %>

