<% content_for :javascripts do %>
  <%= javascript_include_tag 'views/proprietario' %>
  <%= javascript_include_tag 'jquery/jquery.tipsy' %>
<% end %>

<%= render :partial => 'outras_atividades' %>

<h3> <%= @residencia.endereco %></h3>

<% unless @residencia.comodos.blank? %>
    <div id="controles">
      <% @residencia.comodos.each do |comodo| %>
        <div class="comodo">
            <div class="comodo_title"><h1><%= comodo.nome.capitalize %></h1></div>
              <% comodo.perifericos.each do |periferico| %>
                <div id="periferico_<%=periferico.id%>"
                     title="Clique para alterar o estado:  <%='ligado' if periferico.estado%>"
                     class="perifericos <%='ligado' if periferico.estado%>">
                  <%= periferico.nome %>
                </div>
              <% end %>
        </div>
      <% end %>
      <div id="preset_button">
      </div>
    </div>
<% else %>
  Não existem comodos cadastrado para esta residência, Contacte o suporte.
<% end %>

