<%= content_for :javascripts do %>
  <%= javascript_include_tag 'views/comodo' %>
<% end %>

<h2>Comodos</h2>

<% unless comodos.blank? %>
	<table >
	  <tr>
	    <th>Comodo</th>
	    <th></th>
	    <th></th>
			<th></th>
	  </tr>

	<% comodos.each do |comodo| %>
	  <tr>
			<td><%= comodo.nome %></td>
			<td><%= link_visualizar usuario_residencia_comodo_path(comodo.residencia.usuario, comodo.residencia, comodo) %></td>
		  <td><%= link_editar edit_usuario_residencia_comodo_path(comodo.residencia.usuario, comodo.residencia, comodo) %></td>
		  <td><%= link_excluir usuario_residencia_comodo_path(comodo.residencia.usuario, comodo.residencia, comodo) %></td>
		
	  </tr>
	<% end %>
	</table>
	
<% else %>
	Não existem comodos cadastrados.
<% end %>

<br /><br/>

<%= link_to 'Novo Cômodo', new_usuario_residencia_comodo_url(@residencia.usuario, @residencia) %>