<%= content_for :javascripts do %>
  <%= javascript_include_tag "views/periferico" %>
<% end %>

<%= link_voltar usuario_residencia_path(@comodo.residencia.usuario, @comodo.residencia) %>

<div id="periferico">

  <table width='50%'>
	  <tr>
		  <td><h3><%= @comodo.residencia.usuario.nome %> > <%= @comodo.residencia.endereco %> > <%= @comodo.nome %></h3></td>
	  </tr>

	  <tr>
			  <td><%= @comodo.nome %> </td>
	  </tr>
  </table>

</div>

<%= render :partial => '/perifericos/index', :locals => { :perifericos => @comodo.perifericos } %>

