<%= javascript_include_tag 'views/login' %>

<%= form_for(@usuario, :url => session_path(@usuario)) do |f| %>
    <table border="0" cellpadding="0" cellspacing="0">
		  <tr>
		    <th>Email</th>
			  <td><%= f.text_field :email, :class => 'login-inp' %></td>
		  </tr>
		  <tr>
	    	<th>Senha</th>
			  <td><%= f.password_field :password, :id => 'senha', :class => 'login-inp' %></td>
		  </tr>
	    <tr>
	      <th></th>
	      <td><%= submit_tag "Entrar", :class => 'submit-login' %></td>
	    </tr>
	  </table>
<% end %>

