<% content_for :javascripts do %>
  <%= javascript_include_tag 'views/preset' %>
<% end %>

<%= render :partial => '/proprietarios/outras_atividades' %>

<%= form_for [@residencia.usuario, @residencia, @preset] do |f| %>
  <h3><span style="color: grey;"> <%= @residencia.endereco %> </span> > Cadastrar Preset</h3>
  <div id="nome_preset" >
    <label>Nome</label> 
    <input type="text" name="nome" class="preset_inp" />
  </div>
  <% unless @residencia.comodos.blank? %>
      <div id="controles">
        <% @residencia.comodos.each do |comodo| %>
          <div class="comodo">
              <div class="comodo_title"><h1><%= comodo.nome.capitalize %></h1></div>
                <% comodo.perifericos.each do |periferico| %>
                  <div id="periferico_<%=periferico.id%>"
                       title="Clique para alterar o estado:  <%='ligado' if periferico.estado%>"
                       class="perifericos<%=' ligado' if periferico.estado%>">
                    <%= periferico.nome %>
                    <input type="hidden" name="id[]" value="<%= periferico.id%>" %>
                    <input type="hidden" name="estado[]" class="estado" value="desligado" %>
                  </div>
                <% end %>
          </div>
        <% end %>

        <div class="clear"></div>

        <div id="preset_botao">
          <%= f.submit %>
        </div>
      </div>
  <% else %>
    Não existem comodos cadastrado para esta residência, Contacte o suporte.
  <% end %>
<% end %>

