<%= form_for(@usuario, :remote => true) do |f| %>
	<%= render :partial => 'layouts/errors', :locals => {:entity => @usuario} %>
  	<table class='tabela_form'>
	      <tr>
	        <td class="label">
					  <%= f.label :nome %>
					</td>
				  <td>
	          <%= f.text_field :nome, :size => 40  %>
	        </td>
	        <td class="label">
					  <%= f.label :cpf %>
	        </td>
				  <td>
	          <%= f.text_field :cpf, :class => "cpf", :size => 16 %>
	        </td>
	        <td class="label">
					  <%= f.label :telefone %>
	        </td>
				  <td>
	          <%= f.text_field :telefone, :class => "telefone", :size => 20 %>
	        </td>

	        <td id='usuario_submit'>
					  <%= f.submit 'Salvar', :class => "form_submit"%>
				  </td>
		    </tr>
		    <tr>
		      <td class="label">
						<%= f.label :email %>
					</td>
				  <td>
		        <%= f.text_field :email, :size => 40 %>
		      </td>
				  <% unless controller.action_name == 'edit' %>
		        <td id="password_field" class="label">
						  <%= f.label :senha %>
						</td>
				    <td>
		          <%= f.password_field :password,:size => 16  %>
		        </td>
					<% end %>
		      <td class="label">
						<%= f.label :tipo %>
					</td>
					<td colspan=<%= controller.action_name == 'edit' ? "3" : "1" %> >
					  <%= select_tag(
									  'usuario[tipo]',
									  options_for_select(Usuario::ROLE.keys.collect { |key| key.to_s.capitalize }),
									  :id => 'tipo',
									  :style => 'width: 14em'
						  ) %>
		      </td>
				  <td>
				    <button class="cancelar_form" alt="cancelar"> Cancelar </button>
				  </td>
		    </tr>
  	</table>

<% end %>

