<tr>
  <td>
    <%= usuario.nome %>
  </td>
  <td>
    <%= usuario.email %>
  </td>
  <td>
    <%= usuario.cpf %>
  </td>
  <td>
    <%= usuario.telefone %>
  </td>
  <td>
    <%= usuario.tipo %>
  </td>
  <td class="options-width">
    <%= link_visualizar usuario %>
    <%= link_editar edit_usuario_path(usuario) %>
    <%= link_excluir usuario %>
  </td>
</tr>

