<%= content_for :javascripts do %>
  <%= javascript_include_tag "views/usuario" %>
<% end %>

<h3 class="title">
	 Usuários
   <%= link_novo new_usuario_path %>
</h3>

<div id="form_usuario" class="hide" >
</div>

<table border="0" width="100%" cellpadding="0" cellspacing="0" class="tabela_listagem">

  <thead>
    <th class="table-header-repeat line-left"><a href="">Nome</a></th>
    <th class="table-header-repeat line-left"><a href="">Email</a></th>
    <th class="table-header-repeat line-left"><a href="">CPF</a></th>
    <th class="table-header-repeat line-left"><a href="">Telefone</a></th>
    <th class="table-header-repeat line-left"><a href="">Tipo</a></th>
    <th class="table-header-options line-left"></th>
  </thead>
	<tbody id="listagem_usuario">
  	<%= render :partial => '/usuarios/usuario', :collection => @usuarios %>
	</tbody>
	<!-- paginaçao vai aki  -->
  <!-- <%= content_for :paginacao do %>
    <table border="0" cellpadding="0" cellspacing="0" id="paging-table">
      <tr>
        <td>
	        <a href="" class="page-far-left"></a>
	        <a href="" class="page-left"></a>
	        <div id="page-info">Page <strong>1</strong> / 15</div>
	        <a href="" class="page-right"></a>
	        <a href="" class="page-far-right"></a>
        </td>
        <td>
          <select  class="styledselect_pages">
	          <option value="">Number of rows</option>
	          <option value="">1</option>
	          <option value="">2</option>
	          <option value="">3</option>
          </select>
        </td>
      </tr>
    </table>
  <% end %> -->
</table>

