<%= content_for :javascripts do %>
  <%= javascript_include_tag "views/residencia" %>
<% end %>

<div id="usuario">

<table width='100%'>
	<tr>
		<td><h3><%= @usuario.nome %></h3></td>
		<td style="text-align: right"> <%= @usuario.tipo %> </td>
	</tr>

	<tr>
			<td>CPF:  <%= @usuario.cpf %></td>
			<td>Email:  <%= @usuario.email %></td>
			<td>Telefone:  <%= @usuario.telefone %> </td>
	</tr>
</table>

</div>


<%= render :partial => '/residencias/index', :locals => {
																								:residencias => @usuario.residencias,
																								:usuario => @usuario  } %>
<%= link_voltar usuarios_path %>