<!DOCTYPE html>
<html>

  <%= render :partial => '/layouts/head' %>

	<body>

    <div id="page-top-outer">
      <div id="page-top">
        <div id="logo">
          <a href=""><img src="/images/shared/logo.png" width="156" height="40" alt="" /></a>
        </div>

        <%= render :partial => '/layouts/busca' %>
      </div> <!-- end page top-->
      <div class="clear">&nbsp;</div>

      <%= render :partial => '/layouts/menu' %>

      <div id="content-outer">
        <div id="content">

        <table border="0" width="100%" cellpadding="0" cellspacing="0" id="content-table">
          <tr>
	          <th rowspan="3" class="sized"><img src="images/shared/side_shadowleft.jpg" width="20" height="300" alt="" /></th>
	          <th class="topleft"></th>
	          <td id="tbl-border-top">&nbsp;</td>
	          <th class="topright"></th>
	          <th rowspan="3" class="sized"><img src="images/shared/side_shadowright.jpg" width="20" height="300" alt="" /></th>
          </tr>
          <tr>
	          <td id="tbl-border-left"></td>
	          <td>
	            <div id="content-table-inner">
		            <div id="table-content">

                  <%= render :partial => "/layouts/mensagens" %>

                  <%= yield %>
                </div>

                <%= yield :paginacao %>
                <div class="clear"></div>

		          </div>
            </td>
		        <td id="tbl-border-right"></td>
	        </tr>
	        <tr>
		        <th class="sized bottomleft"></th>
		        <td id="tbl-border-bottom">&nbsp;</td>
		        <th class="sized bottomright"></th>
	        </tr>
        </table>
        <div class="clear">&nbsp;</div>
      </div>
      <div class="clear">&nbsp;</div>
    </div>

    <div class="clear">&nbsp;</div>

    <%= javascript_include_tag 'jquery.maskedinput-1.2.2.min' %>
  	<%= javascript_include_tag 'jquery/ui.core.js' %>
  	<%= javascript_include_tag 'text_to_pass' %>
  	<%= javascript_include_tag 'jquery/jquery.pngFix.pack.js' %>

	  <%= yield :javascripts %>

	</body>
</html>

