<html>
  <%= render :partial => '/layouts/head' %>
  <%= javascript_include_tag 'jquery/ui.core' %>
  <%= javascript_include_tag 'jquery/jquery.pngFix.pack' %>
  <%= javascript_include_tag 'jquery/ui.checkbox' %>
  <%= javascript_include_tag 'jquery/jquery.selectbox-0.5' %>

  <body id="login-bg">
    <div id="login-holder">

	    <div id="logo-login">
				<%= link_to image_tag("/images/shared/logo.png"), "usuarios#index" %>
	    </div>

	    <div class="clear"></div>
 
      <div id="loginbox_alert">
        <%= flash[:notice] %>
        <%= flash[:alert] %>
      </div>    

      <div id="loginbox_error">
        <%= flash[:error] %>    
      </div>

      <%= yield %>

    </div>


  </body>
</html>

